<!--
// -----------------------------------------------------------
// src/views/home.handlebars
// Home pag 
// -----------------------------------------------------------
-->

<!-- Linea del título -->
<div class="tit-simple">
<h1>Home - Coder Shop - productos</h1>
</div>
<p class="lineaSupTit">
{{!-- Ir a Real time products --}}
<button 
  class="btn-treal" /*  btn-separado */
  onclick="location.href='/realtimeproducts'" 
  title="Ir a ver página en Tiempo Real">
  Tiempo real
</button>

{{!-- Ir a ver productos con paginación --}}
<button 
  class="btn-treal" 
  onclick="location.href='/products'" 
  title="Ver esta página de productos con paginación">
  Con paginación
</button>

</p>
<hr  class="lineaSupTit" >

<!-- -------------------------------- -->
<h4 class="muted-blue">Lista de todos los productos, renderizada por HTTP (no tiempo real).</h4>

<!-- Botón para ver los productos del carrito -->
  <button 
      class="btn-treal" 
      onclick="location.href='/carts/{{user.cart}}'" 
      title="Ver carrito">
      Ver carrito existente
  </button>

<!--   Grilla estática de productos   -->
<div class="grid">
  {{#each products}}
    <div class="card">
      {{#if thumbnails}}
            <img src="{{thumbnails}}" alt="{{title}}" title="{{title}}" >
       {{else}}
            <img src="../img/ImagenDefault.png" 
            title="Proximamente se cargará una imagen del producto" 
            alt="Proximamente se cargará una imagen del producto" >
      {{/if}}
      <h3>{{title}}</h3>
      <div class="muted">{{description}}</div>
      <div class="row">
        <strong>$ {{price}}</strong>
        <span class="muted">| Stock: {{stock}}</span>
      </div>
      <div class="muted">Código: {{code}} | Categoría: {{category}}</div>
  
       {{!-- Botón: Ir a Ver detalle de 1 (un) producto --}}
        <button 
            class="btn-treal" 
            onclick="location.href='/{{_id}}'" 
            title="Ver detalle de este producto">
            Ver detalle
        </button>

        {{!-- Botón: Incorporar este producto al carrito --}}
        <form class="formAgregarCarrito" 
              {{!-- action="./carts/REEMPLAZAR_CART_ID/product/{{_id}}"   --}}
              action="./carts/{{../user.cart}}/product/{{_id}}"  
              method="POST" style="display:inline;"
              >
          <input type="hidden" name="quantity" value="1">
          <button type="submit" class="btn-treal" title="Si seleccionó un carrito, incorpora este producto">
            {{!-- disabled> // este botón queda disabled hasta que elija un carrito que lo habilita --}}
            Agregar al carrito
          </button>
        </form>
    </div>  {{!-- fin div class=card --}}

  {{/each}}

</div>

