<!--
// -----------------------------------------------------------
// src/views/verProdCart.handlebars
// Vista en detalle de un carrito 
// -----------------------------------------------------------
-->
<!-- Linea del título -->
<div class="tit-simple">
    <h1>Coder Shop - Detalle de un carrito </h1>
</div>
<hr  class="lineaSupTit" >
<!--  ----------------------------------------------------------- -->

<h4 class="muted-blue">Seleccionar otro carrito</h4>

<form id="formSeleccionarCarrito" class="form-form">
  <label for="cartsIdSelecc">Carrito:</label>
  <select name="cartsIdSelecc" id="cartsIdSelecc" required>
      
    {{#each cartIds}}
      <option value="{{this}}" {{#ifEquals this ../carts._id}}selected{{/ifEquals}}>
        {{this}}
      </option>
    {{/each}}
  </select>
  <button type="submit" class="btn-treal">⇐ Mostrar este carrito</button>
</form>

<hr  class="lineaSupTit" >

<!--  ----------------------------------------------------------- -->
<p>Carrito ID: {{carts._id}}</p>

<table border="1" cellpadding="6">
  <thead>
    <tr>
      <th>product Id</th>
      <th>Producto</th>
      <th>Código</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>img</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each carts.products}}
      <tr>
        <td>{{this.product._id}}</td>
        <td>{{this.product.title}}</td>
        <td>{{this.product.code}}</td>
        <td>{{this.quantity}}</td>
        <td>${{this.product.price}}</td>
        <td>{{this.product.stock}}</td>
        <td> {{#if this.product.thumbnails}}
                <img src="{{this.product.thumbnails}}" alt="{{this.product.title}}"  title="{{this.product.title}}" class="imgChica">
            {{else}}
                <img src="../img/ImagenDefault.png" 
                    title="Proximamente se cargará una imagen del producto" 
                    alt="Proximamente se cargará una imagen del producto" 
                     class="imgChica">
                
            {{/if}}
        </td>
        <td>                
      {{!-- Botón: Borrar este producto del carrito  --}}

      <form id="deleteForm-{{this.product._id}}" style="display:inline;">
          <button type="button" 
          class="btn-treal" 
          onclick="eliminarProd('{{../carts._id}}','{{this.product._id}}','{{this.product.title}}')"
           title="Borrar este producto del carrito ">
    Eliminar 
  </button>
</form>
</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<br>
<hr  class="lineaSupTit" >

<script>
  
  // para mostrar la lista de carritos existentes y que pueda mostrar otro
  document.addEventListener("DOMContentLoaded", () => {
  const form = document.getElementById("formSeleccionarCarrito");
  const select = document.getElementById("cartsIdSelecc");

  form.addEventListener("submit", (e) => {
        e.preventDefault(); // evita que intente mandar GET normal
        const selectedCart = select.value;
        if (selectedCart) {
          // Siempre apunta a la raíz del servidor
          window.location.href = `${window.location.origin}/carts/${selectedCart}`;
          {{!-- window.location.href = `/carts/${selectedCart}`; --}}
        }
      });
    });
  
  // para ir a eleminar un producto del carrito
  function eliminarProd(cartId, productId, productTitle) {
    
    fetch(`/carts/${cartId}/product/${productId}`, {
      method: 'DELETE'
    })
    .then(res => {
      alert(`Producto ${productTitle} : eliminado. verProdCart`);
      if (!res.ok) throw new Error("Error eliminando producto");
         // Redirigimos la pagina
         window.location.href = `/carts/${cartId}`;
    })
    .catch(err => alert(err.message));
  }

</script>
