<!DOCTYPE html>
<html lang="es">

<!--
// -----------------------------------------------------------
// src/views/layouts/main.handlebars
//
// Vistas (Handlebars)
//
// Los onclick="location.href='/crud/Users'" etc de los botones
// deben estar definidos en routers/viewsRouter.js
// -----------------------------------------------------------
-->

<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
      {{!-- <link rel="icon" type="image/png+xml" href="../../public/img/IcoCoderShop.png" />  --}}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

{{!-- // esta es la l铆nea luperior con botones comunes a todas las p谩ginas --}}
<div class="lineaSupTit">
  {{!-- Ir al HOME --}}
  <button 
  class="btn-treal" 
  onclick="location.href='/'" 
  title="Ir a la Home">
   Home
</button>

{{!-- CRUD usuarios  --}}
<button 
  class="btn-treal" 
  onclick="location.href='/crud/Users'" 
  title="CRUD usuarios">
  CRUD Users
</button>

{{!-- Login Identificaci贸n  --}}
<button 
  class="btn-treal" 
  onclick="location.href='/login'" 
  title="Login / Identificaci贸n">
  Login
</button>

{{!-- 
      Muestra el nombre del usuario autenticado 
      y el bot贸n de salir de la sesi贸n solo si est谩 autenticado
      class="btn btn-danger"
--}}

  {{#if user}}

      <!-- Usuario autenticado --> 
      <span>Hola, {{user.first_name}},  {{user.last_name}}</span>

      {{!-- Logout / salir de la sesi贸n  --}}
      <form id="logoutForm" action="/api/sessions/logout" method="POST" style="display:inline;">
        <button type="submit" class="btn-treal btn-treal-logout"  title="Logoff / salir de la sesi贸n"> Logout</button>
      </form>
  {{else}}
      <!-- Usuario NO autenticado -->
      <span>Usuario no autenticado ...</span>
  {{/if}}

</div>

  <hr  class="lineaSupTit" >
  {{{body}}}
</body>
</html>